body {
    font-family: 'Roboto', arial, sans-serif !important;

}

#title {
    font-size: 30px;
    margin-left: 8px;
    position: relative; 
    top: -9px;
}

#descriptiontitle {
    font-size: 13px;
    margin-left: 8px;
    position: relative; 
    top: -45px;
}

#titlebar {
    
    width: 100%;
    height: 80px;
    background-color: darkcyan;
    color: #ffffff;
    padding-top: 3px;
    padding-right: 7.5px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin-left:-4px;

}

#backButton {
    width: 100%;
    text-align: right;
     position: relative; 
     top: -90px;
     margin-left:-15px;
     
}

/* #button {
    width: 100%;
    text-align: center;
    width: 80px;
    height: 40px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    color: darkcyan;
    background-color: #fffefe;
    border-radius: 16px;
    border: 2px solid #bfbfbf;
    -webkit-transition: color 0.1s, background 0.3s, border 0.5s;
    transition: color 0.1s, background 0.3s, border 0.5s;
    box-shadow: 1px 2px 2px grey
} */
/*nota... # = id y  el . = class*/

/*estilo de botton de mainScreen*/

#login , #register, #loginGoogle{
    /* position: absolute; */
    width: 300px;
    height: 120px;
    left: 30px;
    top: 298px;
    
    background: rgba(255, 118, 18, 0.55);
    /* Orange */
    
    border: 1px solid #F2994A;
    box-sizing: border-box;
    border-radius: 20px;
}

