html {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainClass {
    height: 100%;
}

#titlebar {
    background-color: rgba(141, 24, 48, 0.85);
    color: #ffffff;
    width: 100%;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: normal;
    font-size: 32px;
    margin-top: 0px;
    margin-left: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
    padding: 0;
    border-radius: 20px;
}

#google {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 300px;
    height: 66px;
    background-color: white;
    border-radius: 10px;
}

#login , #register {
    /* position: absolute; */
    width: 300px;
    height: 120px;
    background: rgba(141, 24, 48, 1);
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#back, #next, #next1 {
    width: 128px;
    height: 59px;
    
    background: rgba(141, 24, 48, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.input {
    width: 330px;
    height: 50px;
    
    background: rgba(196, 196, 196, 0.35);
    /* Gray 6 */
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 10px;
}

